@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}



@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .container-section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .section-two-item {
    width: calc((100% - 24px * 1) / 2);
  }
  .section-title-item {
    text-align: left;
  }
  .section-four>.container{
    max-width: 552px;
    padding: 0;
  }
.container-four-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
}

.team-card {
  width: calc((100% - 24px * 1) / 2);
}
.section-customers>.container{
  max-width: 552px;
  padding: 0;
}
.customers-icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
  /* gap: 24px; */
  /* width: 100%; */
}
.customers-icon-block {
  width: calc((100% - 24px * 2) / 3);
  /* width: calc((100% - 120px) / 6); */
 height: 88px;
  /* max-width: 190px; */
   /* width: 100%; */
}

.footer>.container{
  max-width: 552px;
  padding: 0;
}
.container-footer {
  align-items: flex-start;
  justify-content: flex-start;
  gap:  72px 24px;
}
.footer-logo {
  justify-content: left;
}
.social-text {
  text-align: left;
  padding-right: 24px;
}
.footer-form {
  display: flex;
 flex-direction: row;
  gap: 24px;
}
.footer-form-title {
  text-align: left;
}
.footer-input {
  width: 264px;
}
.footer-button {
  justify-content: left;
  margin: 0;
}
}



@media screen and (min-width: 1188px) {
  .container {
    max-width: 1158px;
  }
  .container-sec-two {
    padding: 120px 0;
  }
  .container-section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .section-two-item {
    width: 100%;
    width: calc((100% - 24px * 3) / 4);
  }
  .sectiontwo-icon-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section2-icon {
    height: 64px;
    width: 64px;
  }
  .section-title-item {
    text-align: left;
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* text-transform: capitalize; */
    margin-bottom: 8px;
  }
  .paragraph-style {
    align-self: stretch;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
  .section-three {
  padding-bottom: 120px;
}
.section-three {
  padding-bottom: 120px;
display: flex;
}
.container-three-item {
  display: flex;
  gap: 24px;

}
.container-three-img {
  width: calc((100% - 24px * 2) / 3);
 
}
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
 }
 .section-four>.container{
  max-width: 1158px;
  padding: 0 15px;
}
.section-four {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}
 .container-four-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  width: calc((100% - 24px * 3) / 4);
}

.section-customers{
   padding: 120px 0;
}
.section-customers>.container{
  max-width: 1158px;
  padding: 0 15px;
}
.customers-icon-list {
  display: inline-flex;
  gap: 24px;
  width: 100%;
}
.customers-icon-block {
  width: 100%;
 width: calc((100% - 24px * 5) / 6);
}
.footer>.container{
  max-width: 1158px;
  padding: 0 15px;
}
.footer {
  padding: 100px 0;
}
.container-footer {
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
}
.footer-logo {
  display: inline-block;
  margin-right: 76px;
}
.footer-block {
  margin-bottom: 16px;
}
.footer-text {
  min-width: 264px;
  margin-right: 120px;
  font-weight: 400;
}
.footer-paragraf {
  font-weight: 500;
}
.footer-form-container {
  margin-left: 80px;
}
.footer-input {
  width: 264px;
}
.footer-button {
  min-width: 165px;
}
}


