:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --background: #fff;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  background-color: var(--background, #fff);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
   margin: 0 auto;
  /* padding: 0 15px 0 15px; */
  padding: 0 16px 0 16px;
  border: 1px solid red ;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
}
.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
  gap: 76px;
  padding: 24px 0;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-item {
  padding: 24px 0;
}
.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-accent {
  color: var(--navyblue, #2e2f42);
}
.header-menu-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--ocean, #404bbf);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.current {
  color: var(--ocean, #404bbf);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
}
.address {
  font-style: normal;
}
.adress-list-item {
  color: var(--slate, #434455);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.adress-list-item:hover,
.adress-list-item:focus {
  color: var(--ocean, #404bbf);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.section-one {
  background-color: var(--navyblue, #2e2f42);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: 50% 50%;
  background-size: cover;
  color: var(--white, #fff);
  padding: 188px 0;
  margin: 0 auto;
}

.container-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}
.section-one-title {
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 48px;
}
.button-index {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-index:hover,
.button-index:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
}
.section-two {
  display: flex;
}
.container-sec-two {
  padding: 96px 16px;
  /* padding: 120px 0; */
 
}
.container-section-two {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* gap: 24px; */
}
.section-two-item {
  /* width: 100%; */
  /* width: calc((100% - 24px * 3) / 4); */
}
.sectiontwo-icon-block {
  display: none;
  /* width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center; */
}
.section2-icon {
  height: 64px;
  width: 64px;
}
.section-title-item {
  color: var(--navyblue, #2e2f42);
  text-align: center;
    font-size: 36px;
  /* font-size: 20px; */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-weight: 500; */
  line-height: 1.11;
  /* line-height: 1.2; */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* margin-bottom: 8px; */
}
.paragraph-style {
  align-self: stretch;
  color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
margin-top: 8px;
}

.section-three {
  padding-bottom: 120px;
}
.container-three-item {
  display: flex;
  gap: 24px;
}
.container-three-img {
  width: calc((100% - 24px * 2) / 3);
}
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.section-four {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}
.container-four-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-title-item {
  margin-bottom: 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 8px;
}
.team-icons-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-icons-list {
  display: inline-flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-circle {
  width: 40px;
  height: 40px;
}

.team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.team-link:hover,
.team-link:focus {
  background-color: var(--ocean);
}
.social-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}
.p-style {
  font-size: 16px;
  color: var(--slate, #434455);
}
.section-customers {
  padding: 120px 0;
}
.customers-icon-list {
  display: flex;
  gap: 24px;
  width: 100%;
}
.customers-icon-block {
  width: calc((100% - 120px) / 6);
  height: 88px;
  width: 100%;
}
.customers-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-color: var(--lightslate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon-link:hover,
.customers-icon-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 104px;
  height: 56px;
}
.customers-icon:hover,
.customers-icon:focus {
  fill: var(--ocean);
}

.footer {
  background: var(--navyblue, #2e2f42);
  color: var(--cloud, #f4f4fd);
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-logo {
  display: inline-block;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.footer-block {
  margin-bottom: 16px;
  display: flex;
}
.footer-text {
  width: 264px;
  margin-right: 120px;
}
.footter-logo-accent {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}
.footer-paragraf {
  font-weight: 500;
}
.social-text {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-icon-circle {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--green);
}
.footer-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
}
.footer-form-container{
  margin-left: 80px;
}
.footer-form-title{
  color: var(--white);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5em;
letter-spacing:0.02em;
margin-bottom: 16px; 
}
.footer-form{
  display: flex; 
  gap:24px;
}
.footer-input{
  width: 264px; 
  height: 40px;
  border: 1px solid #ffffff; 
  background-color: transparent;
  font-size: 12px; 
  line-height: 1.5;
  letter-spacing: 0.04em; 
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-button{
  min-width: 165px;
  height: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color:var(--iris);
  border: none; 
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
}
.footer-button-icon{
  margin-left: 16px;
  fill: var(--white);
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  padding: 96px 0 120px 0;
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-button {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.container-portfolio-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.container-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
}
.container-portfolio-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-portfolio-item:hover,
.container-portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.overlay-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--cloud);
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio-item:hover .overlay-text,
.container-portfolio-item:focus .overlay-text {
  transform: translateY(0%);
}
.box-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-card-description {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  background-color: var(--navyblue-modal);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.modal-icon {
  width: 8px;
  height: 8px;
  fill: var(--navyblue);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-icon,
.modal-close-btn:focus .modal-icon {
  fill: #ffffff;
}
.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.container-form {
  margin-bottom: 8px;
}
.label-user-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  display: block;
  margin-bottom: 4px;
}
.input-user-name {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--iris);
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-form:focus-within .modal-input-icon{
  fill: var(--iris);
}
.container-form-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
}
.modal-chekbox {
  margin-bottom: 24px;
  }
.modal-chekbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}
.chekbox-label-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
 }
 .modal-chekbox-input:checked + .modal-chekbox-label .chekbox-label-icon {
  border: none;
  fill: var(--cloud);
  background-color: var(--ocean);
}
.modal-label-policy {
  color: var(--iris);
}
.modal-button {
  margin: 0 auto;
  padding: 0;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
